     $colorTexto: rgb(48, 69, 136);
     $estilaTexto: "Arial";
     $negrita: bold;
     $backgroundColor: lightblue;
     %tamañoBusqueda {
         width: 98%;
     }
     
     $bordesColor:"";
     // COLOR INICIAL #f0deb7
     // Color INICIAL +Oscuro #dfc793
     body {
         background-color: #fbb034;
         background-repeat: no-repeat;
         margin: auto;
         width: 100%;
         font-family: $estilaTexto;
         color: $colorTexto;
         font-weight: $negrita;
         //background-color: $backgroundColor;
     }
     
     #capaProtectora {
         visibility: hidden;
         position: fixed;
         width: 100%;
         height: 100%;
         opacity: 0.5;
         left: 0;
         top: 0;
         background-color: black;
         z-index: 1;
     }
     
     #ampliacion {
         padding: 1%;
         display: grid;
         justify-items: center;
         position: fixed;
         z-index: 2;
         visibility: hidden;
         background-color: #fbb034;
         border-width: 4px;
         border-radius: 13px;
         border-style: solid;
         width: 500px;
         height: 400px;
         top: 25%;
         left: 35%;
         img {
             margin: 0;
             width: 200px;
             height: 200px;
         }
     }
     
     #logo {
         display: grid;
         grid-template-columns: 1fr;
         justify-items: center;
         #imgBackground {
             display: block;
             margin-left: auto;
             margin-right: auto;
             opacity: 0.8;
         }
     }
     
     //inputs y formulario busqueda
     .busqueda {
         display: grid;
         justify-items: center;
         .busquedaForm {
             display: grid;
             justify-items: center;
             * {
                 margin-top: 10px;
                 padding: 3px;
                 font-size: 16px;
                 text-align: center;
                 border-width: 4px;
                 border-radius: 13px;
                 border-style: solid;
                 background-color: #fbb034;
                 border-color: rgb(48, 69, 136);
                 color: rgb(48, 69, 136);
                 box-shadow: 1px 0px 8px 0px rgb(48, 69, 136);
                 font-style: none;
                 font-family: $estilaTexto;
                 text-shadow: 1px 0px 2px rgb(48, 69, 136);
             }
         }
     }
     
     #imgOcultar {
         display: none;
         margin: 0 auto;
         opacity: 0.7;
         width: 50%;
     }
     
     #gifCargar {
         display: none;
         margin: 0 auto;
         width: 100px;
         height: 100px;
     }
     
     //todos los resultados
     .resultados {
         display: grid;
         grid-template-columns: 1fr;
         align-items: center;
         justify-content: center;
         justify-items: center;
         //posicionamiento de cada divPokemon
         #divPokemons {
             width: 80%;
             display: grid;
             grid-template-columns: repeat(3, 1fr);
             justify-items: center;
             grid-gap: 50px;
             margin-top: 2%;
         }
         .divPokemon {
             width: 90%;
             display: grid;
             grid-template-columns: 1fr;
             grid-template-rows: 1fr, repeat(3, 50px);
             justify-items: center;
             box-shadow: 1px 0px 8px 0px rgb(48, 69, 136);
             border: 5px solid rgb(48, 69, 136);
             border-radius: 11px;
             p {
                 text-align: center;
                 font-size: 20px;
             }
         }
     }
     
     //Version Movil / ipads
     @media only screen and (max-width: 750px) {
         .resultados {
             #divPokemons {
                 width: 80%;
                 display: grid;
                 grid-template-columns: 1fr 1fr;
                 justify-items: center;
                 grid-gap: 50px;
                 margin-top: 2%;
             }
             .divPokemon {
                 p {
                     text-align: center;
                     font-size: 15px;
                 }
             }
         }
         .busqueda {
             display: grid;
             grid-template-columns: 1fr;
             align-items: center;
             justify-content: center;
             justify-items: center;
             #busquedaForm {
                 input:first-child {
                     width: 60%;
                 }
             }
         }
         #logo {
             #imgBackground {
                 width: 50%;
             }
         }
         #imgOcultar {
             display: block;
             margin: 0 auto;
             opacity: 0.7;
             width: 70%;
         }
         .loader {
             font-size: 5px;
         }
         #ampliacion {
             width: 200px;
             height: 300px;
             top: 35%;
             left: 25%;
             img {
                 width: 100px;
                 height: 100px;
             }
             p {
                 font-size: 11px;
             }
         }
     }