     $colorTexto: black;
     $estilaTexto: Arial;
     $negrita: bold;
     $backgroundColor: lightblue;
     %tamañoBusqueda {
         width: 98%;
     }
     
     $bordesColor:"";
     // COLOR INICIAL #f0deb7
     // Color INICIAL +Oscuro #dfc793
     body {
         margin: auto;
         width: 100%;
         font-family: $estilaTexto;
         color: $colorTexto;
         font-weight: $negrita;
         background-color: $backgroundColor;
     }
     
     h1 {
         display: block;
         margin-left: auto;
         margin-right: auto;
         width: 360px;
         font-family: Ink Free;
         text-align: center;
         font-size: 4em;
         -webkit-box-shadow: 0px 0px 9px 9px $bordesColor;
         -moz-box-shadow: 0px 0px 9px 9px $bordesColor;
         box-shadow: 0px 0px 9px 9px $bordesColor;
         border-radius: 20px;
     }
     
     //imagen  que desaparece al realizar busqueda
     #imgBackground {
         display: block;
         margin-left: auto;
         margin-right: auto;
         opacity: 0.6;
     }
     
     //inputs y formulario busqueda
     .busqueda {
         display: grid;
         grid-template-columns: 1fr;
         justify-items: center;
     }
     
     //todos los resultados
     .resultados {
         display: grid;
         grid-template-columns: 1fr;
         align-items: center;
         justify-content: center;
         justify-items: center;
         //posicionamiento de cada divPokemon
         #divPokemons {
             display: grid;
             grid-template-columns: repeat(3, 1fr);
             justify-items: center;
         }
         #divPokemon {
             display: grid;
             grid-template-rows: repeat(3, 1fr);
             justify-items: center;
         }
     }
     
     //Version Movil / ipads
     /*  @media only screen and (max-width: 750px) {
         .busqueda {
             display: none;
             border-radius: 20%;
             margin-right: 2%;
             margin-left: 2%;
         }
     } */